#about {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-bottom: 5rem; 
    margin-top: 2rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; 
}

.about-details-container
{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container
{
    display: flex;
}

.about-pic {
    border-radius: 2rem;
    width: 25vw; 
    max-width: 350px; 
    min-width: 200px; 
    height: auto; 
}

.details-container{
    padding:1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.dark .details-container
{
    padding:1.5rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.section__pic-container {
    width: 100%;
    max-width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container
{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 2rem;
}