#experience {
  position: relative;
  margin-top: 10rem; 
  padding-top: 3rem;
  height: 80vh;
}

.color-container {
  border: 0.1rem solid rgb(163, 163, 163); 
  background: rgb(250, 250, 250);
}

.experience-img {
  border-radius: 2rem;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.experience-title {
  margin: 1rem;
  color: black;
}

.experience-btn {
  color: black;
  border: 0.1rem solid rgb(163, 163, 163); 
}

.experience-sub-title {
  color: black;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.dark .experience-sub-title
{
  color: white;
}

.experience-details-container {
  display: flex;
  justify-content: center;
}

.article-container {
  display: flex;
  text-align: left; 
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163); 
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tech-stack p
{
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}
.tech-stack
{
  display:flex;
  flex-direction: column;
  margin: 1rem;
}


.company-name {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  color: #666;
  margin-top: -10px;
}

.company-highlight {
  font-weight: bold;
  color: #444;
}

.dark .company-highlight
{
  font-weight: bold;
  color: white;
}

.ctd
{
  width: 72.5%;
}